<div class="px-4 pt-0">
<div class="flex align-items-center w-full bg-no-repeat bg-center border-100 border-1 border-round px-0 pt-0" >
    <div class="flex-grow-1 flex align-items-left justify-content-left  font-bold ml-0 px-4 py-0">
      <h2>Alta voluntari</h2>
    </div>
    <div class="flex-grow-1 flex align-items-right justify-content-end font-bold mr-4">
        <a [routerLink]="'/app/volunteers/'"> 
            <!-- <p-image src="assets/images/undo-48.jpg" alt="Image" width="20"></p-image> -->
            tornar
        </a>
    </div>
</div>
<div class="grid">
<div class="col" >
<form [formGroup]="volunteerForm" class="px-2 py-4">
    <p-fieldset legend="Dades Personals">
    <div class="formgroup-inline">
          
    <div class="field grid">
        <span class="p-float-label">
            <input id="nom" pInputText type="text" formControlName="nom" class="p-inputtext-sm">
            <label for="nom">Nom * </label>
        </span>
    </div>
    <br>
    <div class="field grid">
        <span class="p-float-label">    
            <input id="cognom1" pInputText type="text" formControlName="cognom1"  class="p-inputtext-sm">
            <label for="cognom1">Cognom1 *</label>    
        </span>
    </div>
    <br>
    <div class="field grid">
        <span class="p-float-label">
            <input id="cognom2" pInputText type="text" formControlName="cognom2"   class="p-inputtext-sm">
            <label for="cognom2">Cognom2 </label>
        </span>
    </div>
    
</div>
<br>
<div class="formgroup-inline">
    <div class="field grid">
        <span class="p-float-label">
            <input id="dni" pInputText type="text" formControlName="dni" class="p-inputtext-sm">
            <label for="dni">dni * </label>
        </span>
    </div>  
    <div class="field grid">
        <span class="p-float-label">
            <input id="data_naixement" pInputText type="text" formControlName="data_naixement"   class="p-inputtext-sm">
            <label for="data_naixement">Data naixement </label>    
        </span>
    </div>
</div>
<br>

    <!-- <div class="field grid">
        <span class="p-float-label">
            <p-image src="assets/images/no-foto.jpg" alt="Image" width="50"></p-image>

            
        </span>
    </div> -->
<br>
<div class="formgroup-inline">
    <div class="field grid">
        <span class="p-float-label">
            <input id="telefon_contacte" pInputText type="text" formControlName="telefon_contacte"   class="p-inputtext-sm">
            <label for="telefon_contacte">Telèfon contacte *</label>    
        </span>
    </div>

    <div class="field grid">
        <span class="p-float-label">
            <input id="email*" pInputText type="text" formControlName="email"   class="p-inputtext-sm">
            <label for="email">Correu electrònic *</label>    
        </span>
    </div>
</div>
</p-fieldset>
<br>
<p-fieldset legend="Dades Contacte" >
<br>
<div class="formgroup-inline">
    <div class="field grid">
        <span class="p-float-label">
            <input id="adreca" pInputText type="text" formControlName="adreca"   class="p-inputtext-sm">
            <label for="adreca">adreça *</label>    
        </span>
    </div>

    <div class="field grid">
        <span class="p-float-label">
            <input id="codi_postal" pInputText type="text" formControlName="codi_postal"   class="p-inputtext-sm">
            <label for="codi_postal">codi postal </label>    
        </span>
    </div>
</div>
<br>
<div class="formgroup-inline">
    <div class="field grid">
        <span class="p-float-label">
            <input id="poblacio" pInputText type="text" formControlName="poblacio"   class="p-inputtext-sm">
            <label for="poblacio">poblacio</label>    
        </span>
    </div>

    <div class="field grid">
        <span class="p-float-label">
            <input id="provincial" pInputText type="text" formControlName="provincia"   class="p-inputtext-sm">
            <label for="provincia">provincia</label>    
        </span>
    </div>
</div>
</p-fieldset>
<br>
<div class="field grid">
    <span class="p-float-label">
        <input id="associacio*" pInputText type="text" formControlName="associacio"   class="p-inputtext-sm">
        <label for="associacio">associacio *</label>    
    </span>
</div>
<div class="field grid">
    <label for="actiu" class="px-2">actiu *</label>
    <p-checkbox formControlName="actiu" value="true" inputId="actiu" class="mr-10"></p-checkbox>
   
</div>




<!-- <div class="formgroup-inline">
    <span class="p-float-label">
          <p-dropdown formControlName="rol" [options]="cities" optionLabel="rol?" inputId="float-label"></p-dropdown> 
          <label for="float-label">Tria rol</label>
     </span>
</div>
<br>
<div formGroupName="address">
    <h4>Addreça</h4>
    <div class="field">
    <span class="p-float-label">
        <input id="street" pInputText type="text" formControlName="street?" [style]="{'width':'50%'}" >
        <label for="street">Adreça</label> 
    </span>
    </div>

    <div class="formgroup-inline">
        <div class="field">
            <span class="p-float-label">
            <input id="city" pInputText type="text" formControlName="city">
            <label for="city">Ciutat </label>
            </span>
        </div>
        
        <div class="field">
            <span class="p-float-label">
                <input id="zip" pInputText type="text" formControlName="state">
                <label for="zip">Codi Postal </label>       
            </span>
        </div>
    </div>
  </div> -->


<br>
<div class="formgroup-inline">
    @if ( editForm) {
        <button pButton pRipple (click)="editVolunteer()"  label="Edita" class="p-button-primary"></button>
    } @else {
    <button pButton pRipple (click)="addVolunteer()"  label="Afegeix" class="p-button-success"></button>
    }
</div>
</form>
</div>
<div class="col  px-2 py-5">
    <p-fieldset legend="Fotografia" >
        <p-image src="assets/images/no-foto.jpg" alt="Image" width="125"></p-image>
    </p-fieldset>
</div>
</div>
</div>