<div class="px-4 pt-0">
    <div class="flex align-items-center w-full bg-no-repeat bg-center border-100 border-1 border-round px-0 pt-0" >
        <div class="flex-grow-1 flex align-items-left justify-content-left  font-bold ml-0 px-4 py-0">
          <h2>Llistat de Cites</h2>
        </div>
        <div class="flex-grow-1 flex align-items-right justify-content-end font-bold mr-4">
            <a [routerLink]="'/app/appointment/new'"> 
                <!-- <p-image src="assets/images/undo-48.jpg" alt="Image" width="20"></p-image> -->
                Nou
            </a>
        </div>
    </div>

    @defer(on timer(300ms)) {
    <p-table [value]="appointmentsList" styleClass="p-datatable-striped" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <!-- <th pSortableColumn="id" style="width:20%">Id<p-sortIcon field="id"></p-sortIcon></th> -->
                <th pSortableColumn="dia" style="width:20%">Dia<p-sortIcon field="dia"></p-sortIcon></th>
                <th>Hora</th>
                <th>Client</th>
                <th>Estri</th>
                <th>Voluntari</th>
                <th>ACCIÓ</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-appointment>
            <tr>
                <!-- <td>{{ cita.id }}</td> -->
                <td>{{ appointment.day | date:'dd-MM-yyyy' }}</td>
                <td>{{ appointment.startTime }} - {{ appointment.endTime }}</td>
                <td>{{ appointment.client?.full_time }}</td>
                <td>{{ appointment.good }}</td>
                <td>{{ appointment.volunteer?.full_name }}</td> 
                <!-- <td>
                    <p-tag [value]="cita.voluntari==''?'pendent':cita.voluntari" 
                    [severity]="cita.voluntari==''?'warning':'primary'"></p-tag>
                </td> -->
                <button pButton pRipple label="Submit" class="p-button-success"></button>
            </tr>
        </ng-template>
    </p-table>
    } @placeholder {
        <shared-spining></shared-spining>

    }
</div>