<div class="px-4 pt-0">
 
  @defer {
    <div class="grid">
      <div class="col">
        <h1>Edita Cita</h1>
         
          <h3>{{ clientName}}</h3>
        
          <form [formGroup]="formAppointment" >
            
            <input id="client" type="text" pInputText formControlName="client" hidden="true"/>
            <label for="day" class="mr-3">Dia</label>
            <p-calendar id="day" formControlName="day" placeholder="dia" dateFormat="dd.mm.yy"  [(ngModel)]="dateDefault" ></p-calendar>
              <br />
              <br />
              <label for="good" class="mr-3">Útl</label>
              <p-dropdown id="good" formControlName="good" [options]="listGoodsMin" optionLabel="full_name" ></p-dropdown>
              <br />
              <br />
             
              <label for="startTime" class="mr-3">Hora Inici</label>
              <p-calendar id="startTime" formControlName="startTime" placeholder="hora inici" [stepHour]="1"  [stepMinute]="30" [maxDateCount]="1" (onClickOutside)="updateEndDate()" (onSelect)="updateEndDate()" 
               [(ngModel)]="startDefault" [timeOnly]="true"></p-calendar>
              <br />
              <br />
              <label for="endTime" class="mr-3">Hora Final</label>
              <p-calendar id="endTime" formControlName="endTime" selectionMode="single" [stepHour]="1"  [stepMinute]="30" 
               [(ngModel)]="endDefault"   [timeOnly]="true" placeholder="hora final"></p-calendar>
              <br />
              <br />
              <label for="volunteer" class="mr-3">Voluntari</label>
              <p-autoComplete formControlName="volunteer" [minLength]="3" [showClear]="true"
                        [dropdown]="false" [suggestions]="listVolunteersMinSelection" 
                        (onClear)="getListVolunteersMinSelection()"
                        (completeMethod)="searchVolunteer($event)" field="full_name"></p-autoComplete>          
              <br />
              <br />
              
                <p-checkbox formControlName="scheduled" inputId="scheduled" [binary]="true" ></p-checkbox>
                <label for="scheduled">Cita concertada</label>
            
              
              <br />
              <br />
  
              <p-button type="submit" (click)="updateAppointment()">Registrarme</p-button>
              
           
            </form>
          
      </div>
      <div class="col">
        @if ( date) {
          <date-prety [dateAux]="date"></date-prety>
          <appointment-panel></appointment-panel>
        } @else {
          <h3>tria data</h3>
        }
      </div>
    </div>
  } @placeholder (minimum 1000ms) {
    <shared-spining></shared-spining>
  }
  </div>


