<div class="card px-4">
<div class="flex align-items-center w-full bg-no-repeat bg-center border-100 border-1 border-round px-0 pt-0" >
            
        <div class="flex-grow-1 flex align-items-left justify-content-left  font-bold ml-0 px-4 py-0">
            <h2>Panell General</h2>        
        </div>
        
        <!-- <div class="flex-grow-1 flex align-items-right justify-content-end font-bold mr-3 py-3">
            <p-button type="button" icon="pi pi-plus" class="btn " label="Nou voluntari" [routerLink]="'/app/volunteers/new'"></p-button>    
        </div> -->
    </div> 
<div class="grid relative m-2 px-0 border-round">
    
<div class="col border-round surface-overlay font-bold flex align-items-top justify-content-center">
    <p-card header="Cites" subheader="Card Subheader" [style]="{ width: '300px' }">
        
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
            quas!
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
            quas!
        </p>
        <ng-template pTemplate="footer">
            <p-button label="Save" icon="pi pi-check"></p-button>
            <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
        </ng-template>
    </p-card>
</div>
<div class="col border-round surface-overlay font-bold flex align-items-top justify-content-center">
    <p-card header="Missatges" subheader="Card Subheader" [style]="{ width: '300px' }">
        
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
            quas!
        </p>
        <ng-template pTemplate="footer">
            <p-button label="Save" icon="pi pi-check"></p-button>
            <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
        </ng-template>
    </p-card>
</div>
<div class="col border-round surface-overlay font-bold flex align-items-top justify-content-center">
    <p-card header="Voluntaris" subheader="Card Subheader" [style]="{ width: '300px' }">
        
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
            quas!
        </p>
        <ng-template pTemplate="footer">
            <p-button label="Save" icon="pi pi-check"></p-button>
            <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
        </ng-template>
    </p-card>
</div>
</div>
</div>