<div class="card">
    <h2>Cites</h2>
    <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75"
              routerLink="llistat">
              Alta
            </a>

    <p-table [value]="citesList" styleClass="p-datatable-striped" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <!-- <th pSortableColumn="id" style="width:20%">Id<p-sortIcon field="id"></p-sortIcon></th> -->
                <th pSortableColumn="dia" style="width:20%">Dia<p-sortIcon field="dia"></p-sortIcon></th>
                <th>Hora</th>
                <th>Sol·licitant</th>
                <th>Estri</th>
                <th>Voluntari</th>
                <th>ACCIÓ</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-cita>
            <tr>
                <!-- <td>{{ cita.id }}</td> -->
                <td>{{ cita.dia }}</td>
                <td>{{ cita.hora_inici }} - {{ cita.hora_fi }}</td>
                <td>{{ cita.sollicitant }}</td>
                <td>{{ cita.estri }}</td>
                <!-- <td>{{ cita.voluntari }}</td> -->
                <td>
                    <p-tag [value]="cita.voluntari==''?'pendent':cita.voluntari" 
                    [severity]="cita.voluntari==''?'warning':'primary'"></p-tag>
                </td>
                <button pButton pRipple label="Submit" class="p-button-success"></button>
            </tr>
        </ng-template>
    </p-table>
</div>