<div class="card">
    
    <p-toast></p-toast>
    <div class="flex flex-row flex-auto">
        
        <div class="flex-grow-1 flex align-items-left justify-content-left  font-bold ml-0 px-0 py-'0'">
            <h2>Voluntaris</h2>        
        </div>
        
        <div class="flex-grow-1 flex align-items-right justify-content-end font-bold mr-20 px-50 py-3">
            <p-button type="button" class="btn btn-primary-outline align-items-center" [routerLink]="'/layout/volunteers/new'"><i class="fa fa-plus"></i> Nou</p-button>    
        </div>
    </div>    
    <p-confirmDialog></p-confirmDialog>
    @defer(on timer(1000ms)) {   
    <p-table [value]="volunteersList" [lazy]="true"
                styleClass="p-datatable-striped" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <!-- <th pSortableColumn="id" style="width:20%">Id<p-sortIcon field="id"></p-sortIcon></th> -->
                <th>Id</th>
                <th>Nom</th>
                <th>Cognom1</th>
                <th>Cognom2</th>
                <th>Telèfon</th>
                <th>ACCIÓ</th>
            </tr>
        </ng-template>
        
        <ng-template pTemplate="body" let-voluntari>
            <tr>
                <!-- <td>{{ cita.id }}</td> -->
                <td>{{ voluntari.id }}</td>
                <td>{{ voluntari.nom }}</td>
                <td>{{ voluntari.cognom1 }}</td>
                <td>{{ voluntari.cognom2 }}</td>
                <td>{{ voluntari.telefon_contacte }}</td>
                <!-- <td><a [routerLink]="[voluntari.id]"> Detall </a> -->
                 <td>
                    <p-button (click)="'/'" label="Detall" styleClass="p-button-primary mr-2"></p-button>   
                    <p-button (click)="confirmDelete($event, voluntari )" label="Delete" styleClass="p-button-danger"></p-button>

                </td>
                <!-- <td><button pButton pRipple label="Submit" [routerLink]="['/login']" class="p-button-success"></button></td> -->
            </tr>
        </ng-template>
        
    </p-table>

} @placeholder {
    <h2>...carregant</h2>
}
</div>