<p-panel class="flex align-content-end flex-wrap py-2  px-0 py-0 w-full"  >
    <ng-template pTemplate="header">
        <div class="text-orange-300 text-lg align-items-start px-0 py-0">
            {{ appointment?.day | date: 'dd.MM.YYYY'}}<br />
            <span class="text-blue-300 text-lg font-semibold px-0 mr-1">{{ appointment?.startTime | date: 'HH:mm'}}</span>
            - <span class="text-blue-300 text-lg font-semibold px-1">{{ appointment?.endTime | date: 'HH:mm'}}</span>
        </div>
        <div class="flex-grow-1 flex align-items-right justify-content-end px-0 py-0">
            <span class="text-right text-yellow-300 text-lg font-semibold px-4 mr-0">{{ appointment?.good?.full_name}}</span>
        </div>
    </ng-template>

    <div class="flex-initial flex align-items-start justify-content-start  m-0 px-0 py-0 border-round">
        Client <span class="text-blue-300 font-semibold ml-3">{{ appointment?.client?.full_name}}</span></div>
    <div class="flex-initial flex align-items-start justify-content-start  m-0 px-0 py-2 border-round">
        Voluntari <span class="text-blue-300 font-semibold ml-3">{{ appointment?.volunteer?.full_name}}</span></div>
    
    <ng-template pTemplate="footer">
        Cita Concertada: 
        @if ( appointment?.scheduled ) {
            <p-image src="assets/images/green-dot.svg" alt="Image" width="10" class="ml-3"></p-image>
        } @else {
            <p-image src="assets/images/red-dot.svg" alt="Image" width="10" class="ml-3"></p-image>    
        }

        <!-- <p-button label="Save" icon="pi pi-check"></p-button>
        <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button> -->
    </ng-template>
</p-panel>

