@defer(on timer(500ms)) {  
  <p-panel>
    <ng-template pTemplate="header">
      <div class="flex align-items-center w-full" >
          <div class="top-0 left-0 px-100 py-1 font-bold">
            <h1>{{ volunteer?.nom }} {{volunteer?.cognom1}} {{ volunteer?.cognom2}}</h1>
          </div>
          <div class="top-0 ml-50 px-4 py-1 font-bold">
            
              <p-avatar image={{volunteer?.url_foto}} styleClass="ml-" size="large" shape="circle"></p-avatar>
            
          </div>
          <div class="top-0 ml-50 px-4 py-1 font-bold">
            <a [routerLink]="'/layout/volunteers/'"> tornar </a>
          </div>
      </div>
  </ng-template> 
    
    

      
          <h2> Dni: {{ volunteer?.dni }}</h2>
      

      
          <h2> Nom complet: {{ volunteer?.nom }} {{ volunteer?.cognom1 }} {{ volunteer?.cognom2 }}</h2>
      

  
       <h2> Correu electrònic: {{ volunteer?.email }}</h2>
       <h2> Telèfon contacte: {{ volunteer?.telefon_contacte }}</h2>
   
   
</p-panel>
} @placeholder() {
  <h2>...carregant</h2>
}
