  <p-panel>
    <ng-template pTemplate="header">
      <div class="flex align-items-center w-full bg-no-repeat bg-center border-100 border-1 border-round px-0 pt-0" >
        <div class="flex-grow-0 flex align-items-left justify-content-left  font-bold ml-0 px-4 py-0">
          <h2>Voluntari : <span class="text-orange-400">{{ volunteer?.nom }} {{volunteer?.cognom1}} {{ volunteer?.cognom2}}</span></h2>
        </div>
        <div class="flex-grow-1 top-0 px-4 py-1 font-bold">
          <p-avatar image={{volunteer?.url_foto}} styleClass="ml-" size="large" shape="circle"></p-avatar>
        </div>
        <div class="flex-grow-1 flex align-items-right justify-content-end font-bold mr-4">
            <a [routerLink]="'/app/volunteers/'"> 
                <!-- <p-image src="assets/images/undo-48.jpg" alt="Image" width="20"></p-image> -->
                tornar
            </a>
        </div>
    </div>
    </ng-template>
 @defer(on timer(500ms)) {  

  <div class="grid">
    <div class="col">
  <h3> Dni: <span class="text-orange-400" >{{ volunteer?.dni }}</span></h3>
  
  <h3> Nom complet: <span class="text-orange-400" >{{ volunteer?.nom }} {{ volunteer?.cognom1 }} {{ volunteer?.cognom2 }}</span></h3>
  
  <h3> Correu electrònic:<span class="text-orange-400"> {{ volunteer?.email }}</span></h3>
  
  <h3> Telèfon contacte:<span class="text-orange-400"> {{ volunteer?.telefon_contacte }}</span></h3>

  <h3> Actiu: 
    @if ( volunteer?.actiu ) {
      <p-image src="assets/images/green-dot.svg" alt="Image" width="10" class="ml-4"></p-image>
  } @else {
      <p-image src="assets/images/red-dot.svg" alt="Image" width="10"  class="ml-4"></p-image>    
  }
  </h3>
  </div>
  <div class="col text-align-right  justify-content-end font-bold mr-4 border-round-xl">
    <p-image src="{{ volunteer?.url_foto }}" alt="Image" width="150" class="text-align-right justify-content-end border-circle"></p-image>
  </div>
  </div>


} @placeholder() {
  <shared-spining></shared-spining>>
}
   
</p-panel>

