<!-- <p-menubar [model]="items"> -->
    <!-- <input type="text" pInputText placeholder="Search">
    <button pButton label="Logout" icon="pi pi-power-off"></button> -->
<!-- </p-menubar> -->
<div class="flex h-screen surface-0 border-round border-0">

    <!-- <div class="flex flex-row flex-wrap align-items-center justify-content-center">
        <div class="h-6rem border-round bg-primary font-bold p-3 m-3 flex align-items-center justify-content-center">h-6rem</div>
        <div class="h-11rem border-round bg-primary font-bold p-3 m-3 flex align-items-center justify-content-center">h-11rem</div>
        <div class="h-20rem border-round bg-primary font-bold p-3 m-3 flex align-items-center justify-content-center">h-20rem</div>
        <div class="h-24rem border-round bg-primary font-bold p-3 m-3 flex align-items-center justify-content-center">h-24rem</div>
    </div> -->


    
        <div class="h-screen font-bold p-0 align-items-start justify-content-start border-0">
            <p-tieredMenu [model]="items"  class="text-xl" styleClass="menu-bike"></p-tieredMenu>
         
            
            <div class="absolute bottom-0 align-items-start justify-content-start left-0 border-round font-bold " style="min-width: 120px; min-height: 70px">
                <p>Colabora:</p>
                <p-image src="../../../../assets/viureenbici.png" alt="Image" width="60" class="align-items-center ml-3"></p-image>
                <p>{{textPeu}}
                </p>
            </div>
        </div>
        
 
</div>

