<div class="px-4 pt-0">
    <div class="flex align-items-center w-full bg-no-repeat bg-center border-100 border-1 border-round px-0 pt-0" >
        <div class="flex-grow-1 flex align-items-left justify-content-left  ml-0 px-4 py-0">
            <h2><span class="text-orange-500 text-6xl">{{ dateToday | date: 'dd'}}</span> 
                {{ dateToday | date: 'MMMM' }} {{ dateToday | date: 'YYYY'}} - 
                {{ dateToday | date: 'EEEE'}}
            </h2>
        </div>
        <div class="flex-grow-1 flex align-items-right justify-content-end font-bold mr-4">
            <a [routerLink]="'/app/appointment/new'"> 
                <!-- <p-image src="assets/images/undo-48.jpg" alt="Image" width="20"></p-image> -->
                Nou
            </a>
        </div>
    </div>
    <appointment-panel></appointment-panel>
</div>