<div class="grid pt-0">

    <div class="col">
        <div class="flex  bg-no-repeat bg-center bg-blue-900 border-square h-4rem ">
            <span class="text-2xl  bg-right-top font-bold w-10rem h-10rem border-round m-3">Bike Elderly</span>
                
                <div class="absolute top-1 right-0 flex align-items-center justify-content-center m-2">
                    <span class="text-lm m-3">Ferran Vidal</span>
                    <p-avatar image="assets/images/week1.jpg" styleClass="mr-4" shape="circle"  />
                </div>
        </div>
    </div>
</div>

<!-- <div class="card flex justify-content-left">
    <p-sidebar [(visible)]="sidebarVisible">
        <h3>Sidebar</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>

        <div class="field-checkbox">
    
            <label for="city1">Chicago</label>
        </div>
        <div class="field-checkbox">
            
            <label for="city2">Los Angeles</label>
        </div>
        
        <p>Horizontal</p>
        <div class="formgroup-inline">
            <div class="field-checkbox">
                
                <label for="city3">Chicago</label>
            </div>
            <div class="field-checkbox">
                
                <label for="city4">Los Angeles</label>
            </div>
        </div>
        
    </p-sidebar>
</div> -->

